.mat-header-cell {
    padding-left: 24px;
    padding-right: 24px;
}

.searchArea {
    display:flex;
    height: 40px;
    justify-content : center;
    width: 100%;
}

.searchBox {
    width: 100%
}

.mat-table{
    width: 100%;
}

.message {
    padding: 10px;
    color: red
}